.slide-container {
    position: relative;
    width: 100%;
    max-width: 650px;
    padding-top: 66.615%;
    overflow: hidden;
}

.slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.slide-overlay {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 59, 2, 0.247);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
}

.slide-container:hover .slide-image {
    transform: translateX(-100%);
}

.slide-container:hover .slide-overlay {
    left: 0;
}

.skill {
    position: absolute;
    top: 8px;
    left: 10px;
    height: 80%;
    width: 80%;
    color: rgba(243, 46, 46, 0.897);
    font-size: 20px; /* Consider using rem or em for better scalability */
    font-weight: bold;
}


.skill-list li::before {
    content: "✔"; 
    color: rgb(9, 255, 0); /* Change color if needed */
    font-weight: bold;
    margin-right: 8px;
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3dff02;
  }