/* Additional CSS added to template post download */

/* Portfolio Page CSS */

/* digitalden icon */
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-icon {
  max-width: 110%;
  max-height: 110%;
  object-fit: contain;
}